{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %} {% endblock%}</title>
</head>
<body>
    <h1>Gary's Album Collection</h1>
    <header>
        <p>The Collection has the following album counts:</p>
    </header>
        <ul>
            <li class="main-page-list">Albums: {{ num_albums }}</li>
            <li class="main-page-list">Artists: {{ num_artists }}</li>
        </ul>
    {% block content %}
    {% endblock content %}


</body>
</html>